<html>
   <head></head>
    <body>
     <pre style="word-wrap: break-word; white-space: pre-wrap;">
{"id_origen":"{{data.id}}","temp":{{data.temp}},"bat_level":{{data.bat}},"date":{{data.date}},"location":"{{data.loc}}","rele1":"{{data.state_r1}}"}     </pre>
    </body>
</html>
